In [2]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

# Describing the dataset

The original dataset being used is a CSV file, wa_weather_1944_till_2016.csv. We use the pandas library to read
the contents of the file with read_csv() function.

In [4]:
dataset = pd.read_csv('wa_weather_1944_till_2016.csv')

### Shape

We use shape on the dataset to return the amount of columns and rows. The dataset contains 26543 rows and 9 columns, that are: year, month, day, rainfall amount in mm, the min and max temperatures in celcius, the daily average temperature, the daily temperature range and finally the amount of ultraviolet light.

In [5]:
dataset.shape

(26543, 9)

### Describe

The describe function gives an overview of our dataset and gives a detailed description of the differenct values of the dataset attributes, i.e. the total amount, mean, min and max values.

In [6]:
dataset.describe()

,Year,Month,Day,rainfall_mm,min_temp_C,max_temp_C,daily_avg,daily_range,uv_MJ_m*m
count,26543.000000,26543.000000,26543.000000,26543.000000,26435.000000,26480.000000,26543.000000,26543.000000,9390.000000
mean,1980.164111,6.541160,15.730437,2.101281,12.104358,24.451828,18.224449,12.338684,18.967348
std,20.979310,3.445064,8.800655,5.851269,4.736770,6.287806,5.203848,4.390402,8.726202
min,1944.000000,1.000000,1.000000,0.000000,-1.300000,9.400000,0.000000,-20.600000,0.200000
25%,1962.000000,4.000000,8.000000,0.000000,8.700000,19.400000,14.250000,9.200000,11.600000
50%,1980.000000,7.000000,16.000000,0.000000,11.800000,23.200000,17.300000,12.400000,17.900000
75%,1998.000000,10.000000,23.000000,0.600000,15.400000,28.800000,21.900000,15.300000,26.900000
max,2016.000000,12.000000,31.000000,132.000000,28.700000,46.700000,36.800000,43.500000,37.100000

# Preparing the dataset

We check if the dataset contains any null values and remove them using isnull().any() to return a boolean value and dropna() to drop the null values from dataset.

In [8]:
dataset.isnull().any()

Year           False
Month          False
Day            False
rainfall_mm    False
min_temp_C      True
max_temp_C      True
daily_avg      False
daily_range    False
uv_MJ_m*m       True
dtype: bool